<%- include('header') -%>
<!-- carousel  -->
<div id="demo" class="carousel slide" data-ride="carousel">
  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

  <!-- carousel slider-->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://i.ibb.co/xFQhsXD/265fd2fa1e942b8f2719e7fa725e865223fc15cd.jpg" alt="Los Angeles" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Scarlet</h3>
        <p>We had such a great time in LA!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="https://i.ibb.co/yVdhX2W/caramel-cake-44940-2.jpg" alt="Chicago" width="1100" height="500">
      <div class="carousel-caption">
        <h3>Timer</h3>
        <p>Thank you, Timer!</p>
      </div>   
    </div>
    <div class="carousel-item">
      <img src="https://i.ibb.co/4YzD92M/kaths-caramel-cake-958146-1.jpg" alt="New York" width="1100" height="500">
      <div class="carousel-caption">
        <h3>New Yolk</h3>
        <p>We love the Big Apple!</p>
      </div>   
    </div>
  </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>

<!-- card deck -->
<div class="card-deck mt-5">
  <div class="card border-0">
    <div class="card-body">
      <h5 class="card-title">Sejarah cenah</h5>
      <p class="card-text text-center">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis, soluta maiores, dicta officia explicabo aut porro, dolore eaque qui perspiciatis dolorum asperiores cupiditate repellat velit consequatur neque repudiandae et ex. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quod provident architecto animi eos quasi asperiores explicabo aspernatur, distinctio a quas soluta sint est ipsum minima atque iure, ratione pariatur?</small></p>
    </div>
  </div>
  <div class="card border-0">
    <img class="card-img-top" src="https://i.ibb.co/h8bWm5c/History-500x286.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quia at, tempora cumque ducimus maxime dolorum? Tempora molestiae et placeat sequi ad obcaecati vitae quas blanditiis cumque exercitationem, doloribus neque. This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus nesciunt numquam laudantium accusamus soluta dolorum sapiente, mollitia aperiam ratione quod excepturi dignissimos itaque placeat, eaque, est doloribus quisquam veniam repudiandae.</small></p>
    </div>
  </div>
  <div class="card border-0">
    <img class="card-img-top" src="https://i.ibb.co/kMcnhcc/Area-of-operations-500x286.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus nemo repellat inventore. Veritatis, nobis? Enim accusamus molestiae perferendis, assumenda reiciendis, ipsam cumque consequatur iusto excepturi corrupti nemo quaerat dolorem molestias!</small></p>
    </div>
  </div>
</div>


<!-- karir -->
<div class="card-deck mt-5">
  <div class="card border-0">
    <div class="card-body">
      <img src="https://i.ibb.co/Yf3Gqjd/pexels-photo-1509428.jpg" alt="" width="650px" height="500px">
      <!-- <h5 class="card-title">Sejarah cenah</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
    </div>
  </div>
  <div class="card border-0" style="background-image: url(https://i.ibb.co/R9q40M5/background-tiffanyelf.jpg); width: 650px; height: 500px;">
    <img class="card-img-top" src="" alt="">
    <div class="card-body">
      <h5 class="card-title">Hubungan investor</h5>
      <p class="card-text">Selamat datang di Hubungan Investor PT Nippon Indosari Corpindo Tbk. Anda dapat mengakses Laporan Keuangan, informasi seputar saham dan keuangan terkini, serta informasi lainnya.</p>
      <p class="card-text"><small class="text-muted"><button class="btn btn-primari">cek lebih lanjut</button></small></p>
    </div>
  </div>
  </div>

<!-- produk kami -->
  <p class="text-center mt-5" style="font-size:29px;">PRODUK KAMI</p>
  <p class="text-center">Kami senantiasa tumbuh dan mempertahankan posisi sebagai perusahaan roti terbesar di Indonesia melalui penetrasi pasar yang lebih luas dan dalam dengan menggunakan jaringan distribusi yang luas untuk menjangkau seluruh konsumen.Kami memproduksi dan mendistribusikan beragam produk yang halal, berkualitas tinggi, higienis dan terjangkau bagi seluruh konsumen.</p>
  
<!-- card deck produk kami -->
<div class="card-deck mt-5">
  <div class="card border-0">
    <img src="https://i.ibb.co/L0YWY27/mondee-summer-edition1540808751-2.png" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Mondee</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur corporis ducimus natus non, et doloribus quae modi temporibus dolore suscipit possimus dolor eveniet enim repellendus unde velit laborum quia nostrum? This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card border-0">
    <img src="https://i.ibb.co/DGnKSst/The-Best-Caramel-Cake-slice-of-cake-on-a-white-plate-with-coffee-in-background.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Caramel</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card border-0">
    <img src="https://i.ibb.co/kXf9rb5/Easy-Pound-Cake-Recipe-Culinary-Hill-HR-04square-e1579117354423.jpg" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">Pound cake</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>

<%- include('footer') -%>
</body>
</html>
